language: python
sudo: false
python:
    - 2.6
    - 2.7
    - 3.3
    - 3.4
    - pypy
install:
    - python bootstrap.py
    - bin/buildout
script:
    - bin/test-ztk
notifications:
    email: false
