language: python
python:
    - 3.5
    - 3.6
    - 3.7
    - 3.8
    - 3.9-dev
    - pypy3
matrix:
  include:
    - python: 2.7
      before_install:
        - pip install -U setuptools==44.0.0
    - python: pypy
      before_install:
        - pip install -U setuptools==44.0.0
before_install:
    - pip install -U setuptools
install:
    - pip install -U six==$(awk '$1 == "six" {print $3}' ztk-versions.cfg)
    - pip install -U zc.buildout==$(awk '$1 == "zc.buildout" {print $3}' ztk-versions.cfg)
    - buildout -n
script:
    - bin/test-ztk
notifications:
    email:
        - mh@gocept.com
cache:
  pip: true
  directories:
    - eggs/
