language: python
python:
    - 2.7
    - 3.5
    - 3.6
    - 3.7
    - 3.8
    - pypy
    - pypy3
install:
    - pip install -U setuptools==$(awk '$1 == "setuptools" {print $3}' ztk-versions.cfg)
    - pip install -U six==$(awk '$1 == "six" {print $3}' ztk-versions.cfg)
    - python bootstrap.py
    - bin/buildout -n
script:
    - bin/test-ztk
notifications:
    email:
        - mh@gocept.com
cache:
  pip: true
  directories:
    - eggs/
