[buildout]
parts = test-ztk test-zopeapp depgraph
extends = ztk.cfg
          zopeapp.cfg
versions = versions
allow-picked-versions = false

[versions]
tl.eggdeps = 0.4
z3c.recipe.compattest = 0.9
z3c.recipe.depgraph = 0.5

[test-ztk]
recipe = z3c.recipe.compattest
include = ${ztk:packages}

[test-zopeapp]
recipe = z3c.recipe.compattest
include = ${zopeapp:packages}

[depgraph]
recipe = z3c.recipe.depgraph
eggs = ${ztk:packages}
       ${zopeapp:packages}
extras = True
variants = base 
           scc
