# to use it:
# bin/buildout -c checknew.cfg
# bin/python checknew.py

[buildout]
extends = buildout.cfg
parts += check interpreter

[check]
recipe = collective.recipe.template
input = checknew.py.in
output = checknew.py
eggs = ${ztk:packages} ${zopeapp:packages}

[interpreter]
recipe = zc.recipe.egg
eggs = ${ztk:packages} ${zopeapp:packages}
interpreter = python

[versions]
collective.recipe.template = 1.4
