# to use it:
# bin/buildout -c checknew.cfg
# bin/python checknew.py

[buildout]
extends = buildout.cfg
parts += check interpreter

[check]
recipe = collective.recipe.template
input = checknew.py.in
output = checknew.py

[interpreter]
recipe = zc.recipe.egg
eggs =
    ${ztk:packages}
    ${ztk:unresolved-dependencies}
    ${zopeapp:packages}
interpreter = python

[versions]
collective.recipe.template = 1.4
