[sources]
# Development branches of packages of *this* ZTK version.
# Will evolve to maintenance branches whenever needed.
# This set of branches is tested by some buildbots!

# ZopeApp
zc.sourcefactory = svn svn+ssh://svn.zope.org/repos/main/zc.sourcefactory/trunk
zope.app.applicationcontrol = svn svn+ssh://svn.zope.org/repos/main/zope.app.applicationcontrol/trunk
zope.app.appsetup = svn svn+ssh://svn.zope.org/repos/main/zope.app.appsetup/trunk
zope.app.debug = svn svn+ssh://svn.zope.org/repos/main/zope.app.debug/trunk
zope.app.http = svn svn+ssh://svn.zope.org/repos/main/zope.app.http/trunk
zope.app.publication = svn svn+ssh://svn.zope.org/repos/main/zope.app.publication/trunk
zope.app.wsgi = svn svn+ssh://svn.zope.org/repos/main/zope.app.wsgi/trunk
zope.testbrowser = svn svn+ssh://svn.zope.org/repos/main/zope.testbrowser/trunk

# Deprecated
zope.app.authentication = svn svn+ssh://svn.zope.org/repos/main/zope.app.authentication/trunk
zope.app.basicskin = svn svn+ssh://svn.zope.org/repos/main/zope.app.basicskin/trunk
zope.app.broken = svn svn+ssh://svn.zope.org/repos/main/zope.app.broken/trunk
zope.app.component = svn svn+ssh://svn.zope.org/repos/main/zope.app.component/trunk
zope.app.container = svn svn+ssh://svn.zope.org/repos/main/zope.app.container/trunk
zope.app.content = svn svn+ssh://svn.zope.org/repos/main/zope.app.content/trunk
zope.app.dependable = svn svn+ssh://svn.zope.org/repos/main/zope.app.dependable/trunk
zope.app.error = svn svn+ssh://svn.zope.org/repos/main/zope.app.error/trunk
zope.app.exception = svn svn+ssh://svn.zope.org/repos/main/zope.app.exception/trunk
zope.app.folder = svn svn+ssh://svn.zope.org/repos/main/zope.app.folder/trunk
zope.app.form = svn svn+ssh://svn.zope.org/repos/main/zope.app.form/trunk
zope.app.generations = svn svn+ssh://svn.zope.org/repos/main/zope.app.generations/trunk
zope.app.i18n = svn svn+ssh://svn.zope.org/repos/main/zope.app.i18n/trunk
zope.app.locales = svn svn+ssh://svn.zope.org/repos/main/zope.app.locales/trunk
zope.app.localpermission = svn svn+ssh://svn.zope.org/repos/main/zope.app.localpermission/trunk
zope.app.pagetemplate = svn svn+ssh://svn.zope.org/repos/main/zope.app.pagetemplate/trunk
zope.app.principalannotation = svn svn+ssh://svn.zope.org/repos/main/zope.app.principalannotation/trunk
zope.app.publisher = svn svn+ssh://svn.zope.org/repos/main/zope.app.publisher/trunk
zope.app.renderer = svn svn+ssh://svn.zope.org/repos/main/zope.app.renderer/trunk
zope.app.rotterdam = svn svn+ssh://svn.zope.org/repos/main/zope.app.rotterdam/trunk
zope.app.schema = svn svn+ssh://svn.zope.org/repos/main/zope.app.schema/trunk
zope.app.security = svn svn+ssh://svn.zope.org/repos/main/zope.app.security/trunk
zope.app.testing = svn svn+ssh://svn.zope.org/repos/main/zope.app.testing/trunk
zope.app.zcmlfiles = svn svn+ssh://svn.zope.org/repos/main/zope.app.zcmlfiles/trunk
zope.app.zopeappgenerations = svn svn+ssh://svn.zope.org/repos/main/zope.app.zopeappgenerations/trunk
zope.generations = svn svn+ssh://svn.zope.org/repos/main/zope.generations/trunk
