[DEFAULT]
tested=true

[KGS]
name = zope
version = 3.5dev
date = 2009-03-01
#announcement = ANNOUNCEMENT.cfg
#changelog = CHANGES.cfg
#files = Zope-3.5.0.tgz

[zope.annotation]
versions = 3.4.2

[zope.app.apidoc]
versions = 3.6.5

[zope.app.applicationcontrol]
versions = 3.5.0

[zope.app.appsetup]
versions = 3.12.0

[zope.app.authentication]
versions = 3.6.0

[zope.app.basicskin]
versions = 3.4.0

[zope.app.boston]
versions = 3.4.0

[zope.app.broken]
versions = 3.5.0

[zope.app.cache]
versions = 3.6.0

[zope.app.catalog]
versions = 3.8.0

[zope.app.component]
versions = 3.8.3

[zope.app.content]
versions = 3.4.0

[zope.app.dav]
versions = 3.5.0

[zope.app.debug]
versions = 3.4.1

[zope.app.debugskin]
versions = 3.4.0

[zope.app.dependable]
versions = 3.4.0

[zope.app.dtmlpage]
versions = 3.5.0

[zope.app.error]
versions = 3.5.2

[zope.app.exception]
versions = 3.5.0

[zope.app.externaleditor]
versions = 3.5.0

[zope.app.file]
versions = 3.5.0

[zope.app.form]
versions = 3.8.1

[zope.app.ftp]
versions = 3.5.0

[zope.app.generations]
versions = 3.5.0

[zope.app.homefolder]
versions = 3.5.0

[zope.app.http]
versions = 3.6.0

[zope.app.i18n]
versions = 3.6.0

[zope.app.i18nfile]
versions = 3.4.1

[zope.app.interpreter]
versions = 3.4.0

[zope.app.locales]
versions = 3.5.1

[zope.app.locking]
versions = 3.5.0

[zope.app.onlinehelp]
versions = 3.5.1

[zope.app.pagetemplate]
versions = 3.7.1

[zope.app.preference]
versions = 3.6.0

[zope.app.preview]
versions = 3.4.0

[zope.app.principalannotation]
versions = 3.6.1

[zope.app.publication]
versions = 3.8.1

[zope.app.publisher]
versions = 3.8.4

[zope.app.pythonpage]
versions = 3.5.0

[zope.app.renderer]
versions = 3.5.1

[zope.app.rotterdam]
versions = 3.5.0

[zope.app.schema]
versions = 3.5.0

[zope.app.security]
versions = 3.7.0

[zope.app.securitypolicy]
versions = 3.5.1

[zope.app.server]
versions = 3.4.2

[zope.app.sqlscript]
versions = 3.5.0

[zope.app.testing]
versions = 3.7.2

[zope.app.tree]
versions = 3.6.0

[zope.app.twisted]
versions = 3.5.0

[zope.app.undo]
versions = 3.5.0

[zope.app.wfmc]
versions = 0.1.2

[zope.app.wsgi]
versions = 3.6.0

[zope.app.xmlrpcintrospection]
versions = 3.5.0

[zope.app.zcmlfiles]
versions = 3.6.0

[zope.app.zopeappgenerations]
versions = 3.5.0

[zope.app.zptpage]
versions = 3.5.0

[zope.annotation]
versions = 3.4.2

[zope.cachedescriptors]
versions = 3.5.0

[zope.catalog]
versions = 3.8.0

[zope.component]
versions = 3.7.1

[zope.configuration]
versions = 3.6.0

[zope.container]
versions = 3.8.2

[zope.contentprovider]
versions = 3.5.0

[zope.contenttype]
versions = 3.4.2

[zope.copy]
versions = 3.5.0

[zope.copypastemove]
versions = 3.5.1

[zope.datetime]
versions = 3.4.0

[zope.deferredimport]
versions = 3.5.0

[zope.deprecation]
versions = 3.4.0

[zope.documenttemplate]
versions = 3.4.2

[zope.dottedname]
versions = 3.4.5

[zope.dublincore]
versions = 3.4.3

[zope.error]
versions = 3.6.0

[zope.event]
versions = 3.4.1

[zope.exceptions]
versions = 3.5.2

[zope.file]
versions = 0.5.0

[zope.filerepresentation]
versions = 3.5.0

[zope.formlib]
versions = 3.6.0

[zope.hookable]
versions = 3.4.1

[zope.html]
versions = 1.2.0

[zope.i18n]
versions = 3.7.0

[zope.i18nmessageid]
versions = 3.5.0

[zope.index]
versions = 3.5.2

[zope.interface]
versions = 3.5.2

[zope.intid]
versions = 3.7.1

[zope.keyreference]
versions = 3.6.1

[zope.lifecycleevent]
versions = 3.5.2

[zope.location]
versions = 3.5.4

[zope.mimetype]
versions = 1.1.2

[zope.minmax]
versions = 1.1.0

[zope.pagetemplate]
versions = 3.5.0

[zope.proxy]
versions = 3.5.0

[zope.publisher]
versions = 3.8.0

[zope.ramcache]
versions = 1.0

[zope.rdb]
versions = 3.5.0

[zope.schema]
versions = 3.5.4

[zope.security]
versions = 3.7.0

[zope.securitypolicy]
versions = 3.6.1

[zope.sendmail]
versions = 3.5.1

[zope.sequencesort]
versions = 3.4.0

[zope.server]
versions = 3.6.0

[zope.session]
versions = 3.9.1

[zope.site]
versions = 3.6.2

[zope.size]
versions = 3.4.1

[zope.structuredtext]
versions = 3.4.0

[zope.tal]
versions = 3.5.1

[zope.tales]
versions = 3.4.0

[zope.testbrowser]
versions = 3.6.0a2

[zope.testing]
versions = 3.8.0

[zope.testrecorder]
versions = 0.3.0

[zope.traversing]
versions = 3.7.1

# [zope.ucol]
# # To install and test this package, you need to install the ICU libraries,
# # which not everyone wants to do.
# versions = 1.0.2

[zope.viewlet]
versions = 3.5.0

[zope.wfmc]
versions = 3.5.0

[zope.xmlpickle]
versions = 3.4.0
