@import url("default.css");

div.body p,
div.body dd,
div.body li {
    text-align:left;
}


table.packagelist {
    width: 100%;
}

div#build-servers table ul {
    padding-left: 0px;
}

div#build-servers table li {
    list-style: none inside none;
}

.tests_passed {
    background-image: url("../_static/success.png");
    background-repeat: no-repeat;
    padding-left: 18px;
}

.tests_not_passed {
    background-image: url("../_static/nosuccess.png");
    background-repeat: no-repeat;
    padding-left: 18px;
}

.tests_could_not_determine {
    background-image: url("../_static/unknown.png");
    background-repeat: no-repeat;
    padding-left: 18px;
}
