# Loosely based on:
# https://github.com/zopefoundation/meta/tree/master/config/pure-python
name: tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 12 * * 0'  # run once a week on Sunday
  # Allow to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    strategy:
      # We want to see all failures:
      fail-fast: false
      matrix:
        config:
        # [Python version, extra dependencies]
        - ["3.7",      "py37"]
        - ["3.8",      "py3"]
        - ["3.9",      "py39"]
        - ["3.10",     "py310"]
        - ["3.11",     "py311"]
        - ["pypy-3.9", "pypy3"]

    runs-on: ubuntu-latest
    name: ${{ matrix.config[0] }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.config[0] }}
    - name: Install library dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libxml2-dev libxslt1-dev
    - name: Cache Python wheels and eggs
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/pip
          eggs
        key: ${{ runner.os }}-py-${{ matrix.config[0] }}-${{ hashFiles('buildout.cfg') }}
        restore-keys: |
          ${{ runner.os }}-py-${{ matrix.config[0] }}-
          ${{ runner.os }}-py-
    - name: Install dependencies
      run: |
        python -m pip install -U pip
    - name: Test
      run: tox -e ${{ matrix.config[1] }}
